.header {
  height: 80px;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 21, 23);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerDark {
  background-color: rgb(43, 56, 68);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  min-width: 1280px;
}

.headline {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.darkModeBtn {
  padding: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.moon {
  width: 39px;
  height: 29px;
}

@media screen and (max-width: 1440px) {
  .container {
    min-width: 343px;
  }

  .headline {
    font-size: 14px;
  }

  .darkModeBtn {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    min-width: 300px;
  }
}
